/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  background-color: #2F5BF6;
}

#person {
  float:left;
  margin-left: 69%;
  margin-top: -43%; 
  width: 24%;
}
#hand {
    float:left;
  margin-left: 53%;
  margin-top: -40%; 
  width: 15%;
}
#boot {
    float:left;
  margin-left: 75%;
  margin-top: -16%; 
  width: 25%;
}


#lab {
  margin-top: -7%;
}

#writing {
  margin-left: 45%;
}

#thing {
  position: absolute;
  top: 20%;
  margin-left: -10.7%;
  width:15%;
}